.btn {
  display: inline-block;
  padding: 0.3em 1em;
  background-color: #95a5a6;
}

.btn--small {
  font-size: 0.75em;
}
.btn--large {
  font-size: 1.5em;
}

.btn--primary {
  background-color: #e85243;
}
.btn--secondary {
  background-color: #2980b9;
}
