.button {
  display: inline-block;
  border: 1px solid #000;
  padding: 0.4rem 1rem;
  background-color: #eee;
  font-size: 1rem;
  color: #000;
}

.save {
  border-color: green;
  background-color: lightgreen;
  color: green;
}
