#sidebar {
  border: 1px solid #ccc;
  width: 300px;
  background-color: #fafafa;
}
.menus > li {
  border-bottom: 1px dashed #ccc;
}
.menus > li > a {
  display: block;
  padding: 0.5em 1em;
  font-weight: bold;
  color: #489;
}
.menus > li > a:hover {
  background-color: #fff;
}

.widget {
  padding: 10px;
}
.links > li {
  border-bottom: 0;
}
.links > li > a {
  display: block;
  padding: 0.5em;
  background-color: #6ab;
  font-weight: normal;
  color: #fff;
}
.links > li > a:hover {
  background-color: #7bc;
}
