.btn {
  display: inline-block;
  padding: 0.3em 1em;
  background-color: #95a5a6;
}
.btn-large {
  @extend .btn;
  font-size: 1.5em;
}
.btn-primary {
  @extend .btn;
  background-color: #e85243;
  color: #fff;
  font-weight: bold;
}
.btn-primary-large {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-large;
}
